In [1]:
import pandas as pd

In [2]:
filename = "./data/KITTI/Samples/Training/Tracking_Labels/0000.txt"

In [8]:
df = pd.read_csv(filename, sep=" ", header=None, )
df = df.rename(columns={
    0: "frame",
    1: "object_id",
    2: "object_type",
    5: "xmin",
    6: "ymin",
    7: "xmax",
    8: "ymax",
})
df.head()

,frame,object_id,object_type,3,4,xmin,ymin,xmax,ymax,9,10,11,12,13,14,15,16
0,0,-1,DontCare,-1,-1,-10.000000,219.310000,188.490000,245.500000,218.560000,-1000.000000,-1000.000000,-1000.000000,-10.000000,-1.000000,-1.000000,-1.000000
1,0,-1,DontCare,-1,-1,-10.000000,47.560000,195.280000,115.480000,221.480000,-1000.000000,-1000.000000,-1000.000000,-10.000000,-1.000000,-1.000000,-1.000000
2,0,0,Van,0,0,-1.793451,296.744956,161.752147,455.226042,292.372804,2.000000,1.823255,4.433886,-4.552284,1.858523,13.410495,-2.115488
3,0,1,Cyclist,0,0,-1.936993,737.619499,161.531951,931.112229,374.000000,1.739063,0.824591,1.785241,1.640400,1.675660,5.776261,-1.675458
4,0,2,Pedestrian,0,0,-2.523309,1106.137292,166.576807,1204.470628,323.876144,1.714062,0.767881,0.972283,6.301919,1.652419,8.455685,-1.900245

In [13]:
df.iloc[:, [0,1,2,5,6,7,8]].to_csv("./data/KITTI/Samples/Training/Tracking_Labels_clean/0000.csv", index=False)